<ion-content [class.lightmode]="!theme.darkMode" [class.dark-container]="theme.darkMode">
  <app-titlebar></app-titlebar>

  <ion-grid class="container" [class.light-container]="!theme.darkMode" [class.dark-container]="theme.darkMode">
    <!-- Non lightweight mode: 3 panels with slides -->
    <swiper-container *ngIf="!lightweightMode" #swiper auto-height="true" space-between="10"
      (swiperslidechange)="onSlideChange()"
      class="widgets-containers-slides" [class.hidden]="!slidesShown">
      <swiper-slide>
        <widget-container name="left"></widget-container>
      </swiper-slide>
      <swiper-slide>
        <lottie-player *ngIf="showSwipeIndicator" src="/assets/launcher/animations/104585-swipe.json"
          background="transparent" speed="0.8" style="width: 80px; height: 80px;" autoplay loop></lottie-player>
        <widget-container name="main"></widget-container>
      </swiper-slide>
      <swiper-slide>
        <widget-container name="right"></widget-container>
      </swiper-slide>
    </swiper-container>

    <!-- Lightweight mode: single container without slides -->
    <div *ngIf="lightweightMode" class="lightweight-container">
      <widget-container name="main"></widget-container>
    </div>

  </ion-grid>

  <div class="home-footer">
    <div class="edit" (click)="toggleEditWidgets()">
      <img [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/edit.svg' : '/assets/launcher/icons/edit.svg'" />
    </div>
    <div class="nav" *ngIf="!lightweightMode">
      <div class="dot" [class.active]="activeScreenIndex === 0"></div>
      <div class="dot" [class.active]="activeScreenIndex === 1"></div>
      <div class="dot" [class.active]="activeScreenIndex === 2"></div>
    </div>
    <div class="add" (click)="addWidget()">
      <img [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/add.svg' : '/assets/launcher/icons/add.svg'" />
    </div>
  </div>

</ion-content>