<ion-header>
  <app-titlebar title="{{ 'wallet.aa.create.title' | translate }}"></app-titlebar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center container">
    <ion-row>
      <ion-col>
        <p>{{ 'wallet.aa.create.description' | translate }}</p>
      </ion-col>
    </ion-row>

    <!-- Controller Wallet Selection -->
    <ion-row>
      <ion-col>
        <p>{{ 'wallet.aa.create.controller-wallet' | translate }}</p>
        <ion-select [(ngModel)]="wallet.controllerWalletId"
          placeholder="{{ 'wallet.aa.create.controller-wallet-placeholder' | translate }}" interface="popover">
          <ion-select-option *ngFor="let controllerWallet of controllerWallets" [value]="controllerWallet.id">
            {{ controllerWallet.name }} ({{ controllerWallet.type }})
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Chain Selection -->
    <ion-row>
      <ion-col>
        <p>{{ 'wallet.aa.create.chain' | translate }}</p>
        <ion-select #chainSelect [(ngModel)]="wallet.chainId" (ionChange)="onChainChanged($event)"
          placeholder="{{ 'wallet.aa.create.chain-placeholder' | translate }}" interface="popover">
          <ion-select-option *ngFor="let chain of availableChains" [value]="chain.chainId">
            {{ chain.chainName }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Implementation Selection -->
    <ion-row *ngIf="wallet.chainId">
      <ion-col>
        <p>{{ 'wallet.aa.create.implementation' | translate }}</p>
        <ion-select #implementationSelect [(ngModel)]="wallet.implementation"
          (ionChange)="onImplementationChanged($event)"
          placeholder="{{ 'wallet.aa.create.implementation-placeholder' | translate }}" interface="popover">
          <ion-select-option *ngFor="let impl of availableImplementations" [value]="impl.factoryAddress">
            {{ impl.name }} - {{ impl.description }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- AA Contract Address (Auto-detected or hardcoded) -->
    <ion-row>
      <ion-col>
        <p>{{ 'wallet.aa.create.contract-address' | translate }}</p>
        <ion-input type="text" [(ngModel)]="wallet.aaContractAddress"
          placeholder="{{ 'wallet.aa.create.contract-address-placeholder' | translate }}" clearInput="true"
          readonly="true">
        </ion-input>
        <small class="help-text">{{ 'wallet.aa.create.contract-address-help' | translate }}</small>
      </ion-col>
    </ion-row>

    <!-- Is Deployed Toggle -->
    <ion-row>
      <ion-col>
        <p>{{ 'wallet.aa.create.is-deployed' | translate }}</p>
        <ion-toggle [(ngModel)]="wallet.isDeployed" (ionChange)="onDeployedChanged($event)">
        </ion-toggle>
        <small class="help-text">{{ 'wallet.aa.create.is-deployed-help' | translate }}</small>
      </ion-col>
    </ion-row>

    <!-- Create Button -->
    <ion-row class="btn-row">
      <ion-col>
        <ebutton [disabled]="!allInputsValid() || walletIsCreating" (clicked)="createWallet()"
          [title]="walletIsCreating ? ('common.please-wait' | translate) : ('wallet.aa.create.create-button' | translate)">
        </ebutton>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>