@import 'src/app/wallet/root.scss';

ion-grid {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  ion-row {
    padding: 10px 12px;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    > ion-label {
      margin-top: 3px;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      flex: 0 0 auto;
    }

    > img,
    > ion-icon {
      width: 20px;
      height: 20px;
      flex: 0 0 auto;
    }

    > ion-ripple-effect {
      position: absolute;
      inset: 0;
    }
  }
}
